# Environment                                                                                 
.env            
venv/

# Python
__pycache__/
*.egg-info/
*.pyc

# macOS
.DS_Store

# Sample data
sample_screenshots/

# Terraform                                                          
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars         

# Dagster
.tmp_dagster_home_*/